@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  color: #000;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
header {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    .logo {
      font-size: 32px;
      font-weight: 600;
      a {
        color: #000;
        text-decoration: none;
      }
    }
    nav {
      ul {
        display: flex;
        li {
          list-style-type: none;
          padding-left: 16px;
          font-weight: 500;
          a {
            color: #000;
            text-decoration: none;
          }
        }
      }
    }
  }
}
main {
  margin-top: 80px;
  .container {
    display: flex;
    justify-content: space-between;
    .left {
      width: 60%;
      p {
        margin-top: 24px;
        line-height: 1.5;
        a {
          font-weight: 600;
          color: #222;
        }
        span {
          font-weight: 600;
        }
      }
    }
    .right {
      width: 40%;
      display: flex;
      justify-content: flex-end;
      img {
        width: 250px;
        height: 250px;
      }
    }
  }
}
